{% for section in sections %}
<div class="section flex-column" id = "{{section['title'].lower()}}">
    <div class="title-container">
      <div class="title">
        {{section['title']}}
      </div>
    </div>
    <hr>
    {% if section['description'] %}
    <div class="section-description">
        <p>
           {{section['description']}}
        </p>
      </div>
      {% if section['items']!= {}  %}
      <hr>
      {% endif %}
    {% endif %}
    {% if section['items'] != {} %}
    <div class=" section-item-divider"></div>

      {% for topic in section['items'] %}
    <div class="section-item flex-row">

      <div class="section-item-left flex-column">
        
        {% for item in topic['left'] %}
        <p class="{% for class in item['classes'] %} {{class}} {% endfor %}">
          {% if item['url'] %}<a target="_blank" href="{{item['url']}}">{% endif %}
            {% autoescape false %}
            {{item["text"]}}
            {% endautoescape %}
        {% if item['url'] %}</a>{% endif %}
        </p>
        {% endfor %}
      </div>

      <div class="section-item-bullet"></div>
      <div class="section-item-right flex-column">

        {% for item in topic['right'] %}
        <p class="{% for class in item['classes'] %} {{class}} {% endfor %}">
          {% if item['url'] %}<a target="_blank" href="{{item['url']}}">{% endif %}
            {% autoescape false %}
            {{item["text"]}}
            {% endautoescape %}
        {% if item['url'] %}</a>{% endif %}
        </p>
        {% endfor %}

      </div>
    </div>
    {% endfor %}
    {% endif %}
    
  </div>

  {% if section['title'].lower() == "education" %}
  <div class="section flex-column" >

    <div class="title-container">
      <div class="title">
        Technical skills
      </div>
    </div>
    <!-- <hr> -->
    <br>
    <div class ="biscuit-container flex-row flex-wrap">
      {% for item in programming_skills %}
      <div class="biscuit-item" data-type = "{{item['type']}}">{{item['name']}}</div>
      {% endfor %}
    </div>
    
  </div>
  {% endif %}

  {% if section['title'].lower() == "projects" %}
  <div class="section flex-column" id = "projects">

    {% include 'posts_cards_slider.html'%}

  </div>
  <!-- <hr> -->
  <br>
  <br>
  {% endif %}


  {% endfor %}