<div class="nav flex-row justify-center justify-space-around">

   
    <div class="flex-row nav-item justify-center flex-v-center">
        <a href="#education" class="nav-title">
            Education
        </a>
    </div>

    <div class="flex-row nav-item justify-center flex-v-center">
        <a href="#experiences" class="nav-title">
            Experiences
        </a>
    </div>

    <a href="#" class="flex-row nav-item justify-center flex-v-center">
        <img class="logo" src="static/assets/images/logo.svg" alt="" srcset="">
    </a>
    <div class="flex-row nav-item justify-center flex-v-center">
        <a href="#projects" class="nav-title">
            Projects
        </a>
    </div>
    <div class="flex-row nav-item justify-center flex-v-center">
        <a href="#activities" class="nav-title">
            Activities
        </a>
    </div>

</div>
