<div class="nav flex-row justify-center justify-space-around">

    <div class="flex-row nav-item justify-center flex-v-center">
        <a href="#" class="nav-title">
            Who am I?
        </a>
    </div>
    <div class="flex-row nav-item justify-center flex-v-center">
        <a href="#" class="nav-title">
            My projects
        </a>
    </div>
    <a href="#" class="flex-row nav-item justify-center flex-v-center">
        <img class="logo" src="static/assets/images/logo.png" alt="" srcset="">
    </a>
    <div class="flex-row nav-item justify-center flex-v-center">
        <a href="#" class="nav-title">
            Who am I?
        </a>
    </div>
    <div class="flex-row nav-item justify-center flex-v-center">
        <a href="#" class="nav-title">
            Who am I?
        </a>
    </div>

</div>
