<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Mohammad Rimawi</title>

		<link
			rel="icon"
			href="static/assets/images/dark.png"
			id="dark-scheme-icon"
		/>
		<link
			rel="icon"
			href="static/assets/images/light.png"
			id="light-scheme-icon"
		/>
		{% assets "flex.css" %}
		<link rel="stylesheet" href="{{ ASSET_URL }}" />
		{% endassets %} {% assets "general.css" %}
		<link rel="stylesheet" href="{{ ASSET_URL }}" />
		{% endassets %} {% assets "slider.js" %}
		<script src="{{ ASSET_URL }}"></script>
		{% endassets %} {% assets "font-awesome.css" %}
		<link rel="stylesheet" href="{{ ASSET_URL }}" />
		{% endassets %}

		<style></style>

		<style>
			body {
				font-family: "Noto Kufi Arabic", sans-serif;
				font-family: "Vibes", cursive;
				font-family: "Montserrat", sans-serif;
			}
		</style>
	</head>

	<body onload="shuffle()">
		<div class="main flex-column">
			{% include 'header-nav.html'%}
			<hr />
			<div class="flex-column personal-info" id="whoami">
				<div class="flex-row justify-center">
					<div class="my-picture">
						<img class="logo" src="static/assets/images/logo.svg" />
						<img
							class="my-image"
							src="static/assets/images/Mohammad Rimawi.png"
						/>
					</div>
				</div>
				<div class="flex-column">
					<div class="flex-row justify-center">
						<span class="my-name-ar">محمد الريماوي</span>
					</div>
					<div class="flex-row justify-center">
						<span class="my-name-en">Mohammad Rimawi</span>
					</div>
					<div class="flex-row justify-center">
						<span class="title">Computer Science Student</span>
					</div>
				</div>
				<!-- <hr> -->
				<div class="flex-row justify-center contacts-icons">
					<a
						target="_blank"
						href="https://www.linkedin.com/in/mohammadrimawi/"
					>
						<i class="fab fa-linkedin-in"></i>
					</a>
					<a target="_blank" href="https://github.com/MohammadRimawi">
						<i class="fab fa-github"></i>
					</a>
					<a
						target="_blank"
						href="https://www.facebook.com/Rimawizz/"
					>
						<i class="fab fa-facebook-f"></i>
					</a>
				</div>
				<div class="flex-column flex-v-center contacts-lines">
					<a href="mailto:mohrimawiz@gmail.com">
						MohRimawiz@gmail.com
					</a>
					<a href="tel:+962798168424"> +962 79 8168 424 </a>
				</div>
				<!-- <hr>
        <div class="flex-row justify-center">
          <div class="pattern" >
            <img src="static/assets/images/Asset 1.svg">
          </div>
        </div> -->
			</div>

			{% include 'sections.html'%}
		</div>
	</body>
</html>
