<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  {% assets "flex.css" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}
  {% assets "general.css" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}


  <style>
  </style>

  <style>
    body {
      font-family: 'Noto Kufi Arabic', sans-serif;
      font-family: 'Vibes', cursive;
      font-family: 'Montserrat', sans-serif;
    }

  </style>
</head>

<body>

  <div class="flex-column">
    {% include 'header-nav.html'%}

    <h1 class="vibes">Hello مرحبا</h1>
    {% include 'objective-section.html'%}

    {% include 'education-section.html'%}


  </div>
</body>

</html>