
<style>










.item {
    position: relative;
    margin: auto;
    padding-top: 30px;
    width: 40%;
    max-width: 100px;
}





.card-title{
    font-size:16px !important;
    font-weight: bold;
}

@media (max-width: 1200px) {
    #main{
        width: 100%;
        font-size: 12px;
    }
    .item {
        width: 100%;
    }
    .previous,.next{
        width: 30px;
    }

    .card-descriptive{
        width: 300px;
    }
    .card-brief{
      

        width: 200px;
        margin: 30px 3px;
    }
    
}




  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }






*{
    --brief-card-width : 200px;
    --descriptive-card-width : 350px;
    --brief-card-height : 315px;
    --brief-card-drop : 120px;
    --card-button-width : 30px;
}
.card {
 
    transition: ease-in-out 200ms;
    transform-origin: bottom;

    border: 2px solid rgb(0, 0, 0);
    height:var(--brief-card-height);

    background-color:rgb(0, 0, 0);
    margin: 0 8px;
    flex-shrink: 0;
    border-radius:4px;
    overflow:hidden;
    /* box-shadow: 0px 4px 9px -4px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: 0px 4px 9px -4px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 4px 9px -4px rgba(0, 0, 0, 0.43); */
    position:relative;
}

.card-brief{
    width:var(--brief-card-width) !important;
}

.card-descriptive{
    width:var(--descriptive-card-width) !important;
}
.slider-button{
    transition: all .5s ease;
    filter:opacity(0);
    height:100%;

    background-color:rgba(194, 194, 194, .6);
    width:var(--card-button-width);
    cursor:pointer;
}
.slider-button span {
    position: absolute;
    top: 42%;
    text-align: center;
    width: 100%;
    font-size: 40px;
    color: white;
}
.slider:hover .slider-button{
    filter:opacity(100);        
}

.slider-button.left{
    position:absolute;
    left: calc(-1*var(--card-button-width));
    z-index:1;
    border-radius: 0px 10px 10px 0px;
}

.slider:hover .slider-button.left{    
    left:0;
}


.slider:hover .slider-button.right{
    right:0;
}

.slider-button.right{
    right:calc(-1*var(--card-button-width));
    position:absolute;
    border-radius: 10px 0px 0px 10px;
}
.slider{
    overflow-x: hidden;
    overflow-y:visible;
    position: relative;
    width:100%;
    max-width: 1500px;
    margin:    auto;
    height:calc(70px + var(--brief-card-height));
   
    justify-content: space-between;
}
.slider-body{
    height: calc(40px + var(--brief-card-height));
    overflow: hidden;
    overflow-x: scroll;
    flex-flow: nowrap;
    padding-bottom: 30px;
    width: 95%;
    /* max-width:500px; */
    margin:auto;
    padding-bottom: 0px;
    padding-top: 12px;
}
.slider-body>div{
   display:inline-block; 
}

.card-image{
    width:100%;
    height:var(--brief-card-height);
    background-color: rgb(61, 7, 58);
    transition: all .7s ease;
}
.card-image img{
    background-color: black;
    width:100%;
    height:100%;
    object-fit: cover;
    filter: brightness(0.4);
}
.card-content{
    
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0;
    justify-content:space-between;
    width:100%;
    height:270px;
    /* direction:rtl; */
    transition: all .6s ease;
    position: absolute;
    bottom: calc(-1*var(--brief-card-drop));
    /* color:white; */
    /* background: rgba(0, 0, 0, 0.199); */

    /* background: rgb(0,0,0); */
    background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0,0,0,.3) 20%, rgba(0,0,0,.9) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0,0,0,.3) 20%, rgba(0,0,0,.9) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%,  rgba(0,0,0,.3) 20%,rgba(0,0,0,.9) 100%);
    background-size:1px 270px;  

}

.card:hover .card-content,.card:last-child .card-content{
    bottom: 0;
    background-position:0px;  
  

}


.card:hover .card-image,.card:last-child .card-image{
    /* height:30px; */
    filter: blur(2px);
}

.card:hover{
    transform: scale(1.04);
    /* border-width: 3px; */
}

.slider-card-title{
    font-size: 24px;
    padding: 5px 0px;
    max-height: 140px;
    /* overflow: hidden; */
    color:white;
    font-weight: bold;
    height: fit-content;
}

.slider-card-title p{
    margin: 2px;
    
}


.card-button{

    border:#025887 solid 1px;
    background-color: #0258873b;
    color:white;
    /* display: block; */
    width: 100%;
    padding: 5px;
    margin: 0px 5px;
    margin-bottom:14px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    transition: all 0.5s ease;
}

.card-button img{
    width:30px;
    height: 30px;


}
.card-button:hover{
    background-color: #01486f;
}

.card-biscuit{
    font-size: 12px;
    color:black;
    background-color:yellow;
    font-weight: 500;
    border-radius: 4px;
    padding: 2px 4px;
    margin-bottom: 4px;

    /* display: block; */
    width: fit-content;
    margin: 0 2px;
    margin-bottom: 5px;
}
.slider-card-description {
    height: fit-content;
    font-size: 14px;
    overflow: hidden;
    color: white;
    padding: 0px 5px 5px 5px;
    /* margin-bottom: 10px; */
}


.card-languages{
    margin-top: 70px;
    transition: all .3s ease-in-out;
    line-height:4;
}

.card:hover .card-languages,.card:last-child .card-languages
{
    margin-top: 5px;
    line-height:2;
}


@media only screen and (max-width: 750px) {

    *{
        --brief-card-width : 200px;
        --descriptive-card-width : 250px;
        --brief-card-height : 315px;
        --brief-card-drop : 90px;
        --card-button-width : 30px;
    }
    .slider-body{
        /* margin: -5px; */
        width:100%
    }
    .slider{
        margin: 0px -2.5%;
        width:105%;
    }
    .slider-card-description {
    font-size: 14px;
    padding: 0px 2px 2px 2px;
    }   
    .card-languages{
        margin-top: 65px;
    }

    .slider-card-title{
        font-size: 20px;
        padding: 5px 0px;
        max-height: 140px;
        color:white;
        font-weight: bold;
        height: fit-content;
    }

    .card-content{
        padding:0 15px;
    }

    .card .card-content,.card:last-child .card-content{
        bottom: 0;
        background-position:0px;  

    }


    .card .card-image,.card:last-child .card-image{
        /* height:30px; */
        filter: blur(2px);
    }

    .card .card-languages,.card:last-child .card-languages
    {
        margin-top: 5px;
        line-height:2;
    }


}
</style>


    <div class='flex-row slider'>
        <div class='slider-button left' onclick="previous(this)"><span><</span></div>
        <div class='flex-row slider-body shuffle'>
            {% for card in cards %}
            
            <div class="card  card-descriptive  flex-column">
                <div class= "card-image">
                    <!-- <img src="{{ url_for('static', filename = card.image_url)}}" alt="" onerror="this.style.display='none'">  TODO Add Alt -->
                    {% if card['image_url']!= "" %}
                    <img src="{{url_for('static', filename = 'assets/images/'+card['image_url'])}}" alt="" onerror="this.style.display='none'"> 
                    {% endif %}
                </div>
                
                <div class= "card-content flex-column">
                    <div class= "flex-column">
                    <div class="slider-card-title">
                        <p>
                            {% autoescape false %} 
                            {{card['title']}} 
                            {% endautoescape %} 
                        </p>
                        <span class="card-biscuit" style="background-color: {% if card['type'].lower() == 'personal project' %} yellow {% else %} orange {% endif %}; color: {% if card['type'].lower() == 'personal project' %} black {% else %} black {% endif %};">
                            {{card['type'].capitalize()}}
                        </span>
                      
                    </div>
                   
                    <div class="slider-card-description">
                        {% autoescape false %} 
                        {{card['description']}} 
                        {% endautoescape %} 
                    </div>
                    <div class="card-languages">

                        {% for item in card['languages'] %}
                        <span class="card-biscuit" style="background-color:white; color:black;" >{{item}}</span>
                        {% endfor %}
                    </div>
                    </div>
                    <div class="flex-row flex-h-end justify-stretch">
                        {% if card['github'] != [] %}
                        {% for item in card['github'] %}
                         {% if item['url'] != "" %}
                            <a target="_blank" href = "{{item['url']}}" class="card-button" >
                                <svg height="30" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="30" data-view-component="true">
                                <path fill="#fff" fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
                            </svg></a>
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% if card['youtube'] != "" %}
                        <a target="_blank" href = "{{card['youtube']}}" class="card-button" ><i class="fab fa-youtube" style="font-size:25px;"></i></a>
                        {% endif %}
                        {% if card['url'] != "" %}
                        <a target="_blank" href = "{{card['url']}}" class="card-button" ><img src="static/assets/images/Globe_icon_4.svg"></a>
                        {% endif %}
                    </div>
                    
                </div>
            </div>
            {% endfor %}
        </div>
        <div class='slider-button right' onclick="next(this)"><span>></span></div>

    </div>