@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&family=Vibes&display=swap'); 
  html * {
    box-sizing: border-box; }

    a {
      text-decoration: none;
      color: black; }

      hr {
        border: 1px solid black;
        width: 50%;
        margin-bottom: 0; }

        .vibes {
          font-family: 'Noto Kufi Arabic', sans-serif;
          text-align: center;
          font-size: 70pt; }

          .nav {
            font-family: 'Montserrat', sans-serif;
            width: 80%;
            margin: auto;
            font-weight: 600; }
            .nav .nav-item {
              width: 200px;
              text-align: center; }
              .nav .nav-title {
                padding: 5px;
                margin: auto;
                width: fit-content;
                height: 30px;
                box-sizing: border-box;
                color: black;
                transition: all 0.05s ease-in-out; }
                .nav .nav-title:hover {
                  border-bottom: solid black 2px; }
                  .nav .logo {
                    width: 120px;
                    height: 120px; }

  .section {
    margin: 20px auto; }
    .section .section-description {
      margin: auto;
      max-width: 40%;
      text-align: center; }
      .section .section-description p {
        color: black; }
    .section a:hover {
      text-decoration: underline; }
    .section .section-item-divider {
      width: 2px;
      min-width: 2px;
      background-color: black;
      min-height: 50px;
      margin: auto; }
      .section .title-container {
        border-radius: 2px;
        padding-left: 5px;
        padding-right: 0px;
        transition: all 0.1s ease-in-out;
        margin: auto;
        border: solid black 2px;
        width: fit-content; }
        .section .title-container .title {
          width: fit-content;
          font-weight: bold;
          padding: 5px 10px;
          margin: auto;
          font-size: 18pt;
          background-color: black;
          color: white; }
    .section .title-container:hover {
      padding-left: 0px;
      padding-right: 5px; }
      .section .section-item {
        position: relative;
        margin-top: -10px; }
        .section .section-item p {
          margin: 5px 0;
          color: black;
          max-width: 350px; }
          .section .section-item:hover .section-item-bullet {
            border-width: 8px; }
        .section .section-item:last-of-type .section-item-right,
        .section .section-item:last-of-type .section-item-left {
          border-width: 0; }
        .section .section-item .section-item-left {
          align-items: flex-end;
          border-right: 1px solid black;
          justify-content: end;
          padding-right: 50px;
          text-align: right;
          padding-left: 30px;
          padding-bottom: 50px;
          justify-content: flex-start; }
          .section .section-item .section-item-right {
            border-left: 1px solid black;
            justify-content: start;
            align-items: flex-start;
            padding-left: 50px;
            padding-right: 30px;
            padding-bottom: 50px;
            justify-content: flex-start; }
            .section .section-item .section-item-divider {
              width: 2px;
              min-width: 2px;
              min-height: 100px;
              height: fit-content; }
              .section .section-item .section-item-bullet {
                position: absolute;
                left: calc(50% - 10px);
                top: 5px;
                width: 20px;
                height: 20px;
                border: 2px solid black;
                border-radius: 100%;
                background-color: white;
                transition: all 0.2s ease-in-out; }

  .bold {
    font-weight: bold; }

    .big {
      font-size: 20px; }

      .bullet-point-title:before {
        content: "<*> "; }
